<div class="gallery-container">
	<ul>
		<li ng-repeat="image in images">
			<a ng-click="openLightboxModal($index)">
				<img ng-src="{{image.thumbnail}}" class="img-thumbnail">
			</a>
		</li>
	</ul>
</div>