.lightbox-nav {
	text-align: center;
	padding-bottom: 10px;
}

.lightbox-image-container {
	text-align: center;
}

.lightbox-image-caption {
	font-style: italic;
	text-align: center;
	position: relative;
	color: #d33727;
}