/* ---------- Pages */
* {
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ }

.header-bar {
  background-color: #4ca3be;
  color: #fff;
  height: 55px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0; }

.app-title {
  text-align: center;
  margin: 0;
  padding-top: 10px; }

.gallery-container ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  display: block;
  padding: 20px 10px;
  max-width: 1200px;
  margin: 0 auto; }
.gallery-container a {
  display: inline-block; }
.gallery-container li {
  float: left;
  padding: 5px;
  width: 50%;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  text-align: center; }
  .gallery-container li:hover {
    cursor: pointer;
    background-color: rgba(76, 163, 190, 0.7); }
.gallery-container img {
  max-width: 100%; }
@media screen and (min-width: 769px) {
  .gallery-container ul {
    padding: 20px 40px 40px; }
  .gallery-container li {
    width: 33.33%; } }

@media screen and (min-width: 969px) {
  .gallery-container li {
    width: 16.66%; } }
.lightbox-nav {
  text-align: center;
  padding-bottom: 10px; }

.lightbox-image-container {
  text-align: center; }

.lightbox-image-caption {
  font-style: italic;
  text-align: center;
  position: relative;
  color: #d33727; }
